body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: white;
}

.cta {
    color: aquamarine;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}


h2 { 
    font-weight: 300;
    font-size: 32px;
}

p {
    color: gray;
    font-size: 21px;
}

footer {
    color: gray;
    text-align: right;
}